@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-ExtraBold.ttf);
  font-style: normal;
  font-weight: 900;
}

.header__main-nav ul, .header__side-nav ul, .header-mini-nav ul {
  list-style: none;
}

.header__main-nav ul li, .header__side-nav ul li, .header-mini-nav ul li {
  display: inline-block;
}

.header__main-nav ul li:not(:first-child), .header__side-nav ul li:not(:first-child), .header-mini-nav ul li:not(:first-child) {
  margin-left: 2.5rem;
}

.header__main-nav ul li a:link, .header__side-nav ul li a:link, .header-mini-nav ul li a:link, .header__main-nav ul li a:visited, .header__side-nav ul li a:visited, .header-mini-nav ul li a:visited {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
}

.header__main-nav ul li a:hover, .header__side-nav ul li a:hover, .header-mini-nav ul li a:hover {
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__main-nav ul li a:hover::after, .header__side-nav ul li a:hover::after, .header-mini-nav ul li a:hover::after {
  content: "";
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #ff5850;
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
}

.header__main-nav ul li a.active, .header__side-nav ul li a.active, .header-mini-nav ul li a.active {
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__main-nav ul li a.active::after, .header__side-nav ul li a.active::after, .header-mini-nav ul li a.active::after {
  content: "";
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #ff5850;
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
}

/*Media query manager*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 71.25em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "poppins";
  font-size: 1.8rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #000;
  line-height: 1.6;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .row {
    padding: 0 2%;
  }
}

.heading-primary {
  font-size: 6rem;
  line-height: 1.125;
  font-weight: 600;
  color: #1a1a1a;
}

.heading-secondary {
  font-size: 4.8rem;
  line-height: 1.15;
  color: #1a1a1a;
}

.heading-secondary span {
  font-size: 4rem;
  display: inline-block;
  color: #ff5850 !important;
  margin-top: 3px;
  margin-left: 3px;
}

.heading-tertiary {
  font-size: 3.2rem;
  line-height: 1.35;
  font-weight: 300;
  color: #8a8a8a;
}

.heading-tertiary--indicator {
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.heading-tertiary--indicator::after {
  content: "";
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #ff5850;
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
}

.heading-tetra {
  font-size: 2.4rem;
  line-height: 1.375;
  font-weight: 300;
  color: #8a8a8a;
}

.heading-tetra--fat {
  color: #1a1a1a;
  font-weight: 600;
}

.heading-tetra--footer {
  color: #fbfbfb;
  font-weight: 600;
}

.u-mb-sm {
  margin-bottom: 2rem;
}

.u-mb-md {
  margin-bottom: 3rem;
}

.u-mb-lg {
  margin-bottom: 8rem;
}

.u-mb-xl {
  margin-bottom: 10rem;
}

.u-text-gray {
  color: #8a8a8a;
}

.app-button > *:first-child {
  margin-right: 2rem;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.app-button__ios, .app-button__android {
  height: 5rem;
  display: inline-block;
}

.app-button__ios img, .app-button__android img {
  height: 100%;
  display: inline-block;
}

.menu {
  --front: #0027ee;
  --back: #ff5850;
  --icon: white;
  -webkit-perspective: 600px;
          perspective: 600px;
  width: 48px;
  height: 48px;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.menu input {
  display: none;
}

.menu input + div span {
  --rotateY: 0deg;
  --background: var(--front);
  -webkit-transform: rotateY(var(--rotateY));
          transform: rotateY(var(--rotateY));
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--background);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 0.64, 0.48, 1.24);
  transition: -webkit-transform 0.6s cubic-bezier(0.2, 0.64, 0.48, 1.24);
  transition: transform 0.6s cubic-bezier(0.2, 0.64, 0.48, 1.24);
  transition: transform 0.6s cubic-bezier(0.2, 0.64, 0.48, 1.24), -webkit-transform 0.6s cubic-bezier(0.2, 0.64, 0.48, 1.24);
}

.menu input + div span:before, .menu input + div span:after {
  --rotate: 0deg;
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  border-radius: 1px;
  top: 50%;
  left: 50%;
  background: var(--icon);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate(-50%, -50%) rotate(var(--rotate)) translateZ(6px);
          transform: translate(-50%, -50%) rotate(var(--rotate)) translateZ(6px);
}

.menu input + div span:first-child {
  --background: var(--back);
}

.menu input + div span:first-child:before {
  --rotate: -45deg;
}

.menu input + div span:first-child:after {
  --rotate: 45deg;
}

.menu input + div span:last-child {
  --rotateY: 180deg;
}

.menu input + div span:last-child:before {
  -webkit-box-shadow: 0 -5px 0 var(--icon), 0 5px 0 var(--icon);
          box-shadow: 0 -5px 0 var(--icon), 0 5px 0 var(--icon);
}

.menu input + div span:last-child:after {
  display: none;
}

.menu input:checked + div span:first-child {
  --rotateY: -180deg;
}

.menu input:checked + div span:last-child {
  --rotateY: 0deg;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.parallex {
  height: calc(100vh - 9rem);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.slider__img {
  height: 100%;
  text-align: center;
}

.slider__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 56.25em) {
  .slider__text {
    margin-left: 2rem;
  }
  .slider__text span {
    color: #fbfbfb;
  }
}

@media (max-width: 37.5em) {
  .slider__text .heading-primary {
    color: #fbfbfb;
  }
}

.socials a {
  text-decoration: none;
  color: #fbfbfb;
}

.socials a:not(:first-child) {
  margin-left: 1.5rem;
}

.socials--dark a {
  color: #8a8a8a;
}

.title--train {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 37.5em) {
  .title--train {
    display: block;
  }
}

@media (max-width: 37.5em) {
  .title--train .heading-secondary {
    margin-bottom: 1rem;
  }
}

.title--train .title__text {
  margin-left: 3rem;
}

@media (max-width: 37.5em) {
  .title--train .title__text {
    margin-left: 0;
    display: inline-block;
  }
}

.title--level .title__text,
.title--level .heading-secondary {
  display: inline-block;
}

.title__text {
  font-style: 1.6rem;
  font-weight: 600;
  color: #8a8a8a;
  position: relative;
}

.title__text::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 8rem;
  background-color: #1a1a1a;
  position: absolute;
  bottom: 0.8rem;
  right: -9.5rem;
}

.album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .album {
    display: block;
    width: 90vw;
    margin-left: 5vw;
  }
}

.album__img {
  height: 65vh;
  width: 30vw;
}

@media (max-width: 71.25em) {
  .album__img {
    width: 45vw;
  }
}

@media (max-width: 56.25em) {
  .album__img {
    width: 40vw;
    height: 60vh;
  }
}

@media (max-width: 37.5em) {
  .album__img {
    display: block;
    width: 90vw;
    margin-bottom: 5rem;
  }
}

.album__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.album__contents {
  margin-left: 5vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 37.5em) {
  .album__contents {
    margin-left: 0;
  }
}

.album__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album__content:not(:last-child) {
  margin-bottom: 1.7rem;
}

.album__name {
  margin-right: auto;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 600;
}

.album__name span {
  color: #8a8a8a;
  margin-right: 2rem;
}

@media (max-width: 56.25em) {
  .album__name {
    width: 18rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.album__duration {
  color: #8a8a8a;
}

@media (max-width: 37.5em) {
  .album__duration {
    display: none;
  }
}

.album__play {
  margin-left: 3rem;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  border-radius: 50%;
  padding-left: 2px;
  padding-right: 3px;
  font-size: 1.4rem;
}

.album__play i {
  margin-left: 3px;
}

.album__play-pause {
  color: #ff5850;
  border: 1px solid #ff5850;
}

.album__play-pause i {
  margin-left: 0 !important;
  padding: 0;
  padding: 0 2px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.95);
  color: #fbfbfb;
  font-size: 1.6rem;
  padding: 10rem 0;
  overflow: hidden;
  position: relative;
}

@media (max-width: 71.25em) {
  .footer {
    padding: 8rem 2rem;
  }
}

.footer__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
}

@media (max-width: 56.25em) {
  .footer__top {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .footer__top > * {
    margin-bottom: 4rem;
  }
}

.footer__top-left {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  margin-right: 15%;
}

.footer__top-middle {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.footer__top-right {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

.footer__top-right input {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  font-size: 2rem;
}

@media (max-width: 56.25em) {
  .footer__top-right input {
    border-bottom: 1px solid #fbfbfb;
    background-color: transparent;
    margin-bottom: 2rem;
  }
}

.footer__top-right button {
  margin-left: auto;
  display: block;
  outline: none;
  border: none;
  padding: 1.5rem 3rem;
  background-color: #fbfbfb;
  color: #1a1a1a;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.footer__top-nav ul {
  list-style: none;
}

.footer__top-nav ul a {
  text-decoration: none;
  color: #fbfbfb;
  margin-bottom: 1rem;
  display: inline-block;
}

.footer__top-nav ul a:hover {
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer__top-nav ul a:hover::after {
  content: "";
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #ff5850;
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
}

.footer__top-contact {
  margin-bottom: 1.5rem;
}

.footer__top-contact i {
  font-size: 1.6rem;
  margin-right: 2rem;
}

.footer__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

@media (max-width: 56.25em) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 70%;
    margin: 0 auto;
    margin-top: 10rem;
  }
  .footer__bottom > * {
    margin-bottom: 2rem;
  }
}

.footer::after {
  content: "Selena.";
  font-size: 32rem;
  font-weight: 900;
  position: absolute;
  z-index: 1;
  line-height: 1;
  bottom: -3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fbfbfb;
  opacity: 0.15;
}

@media (max-width: 71.25em) {
  .footer::after {
    font-size: 27rem;
  }
}

@media (max-width: 56.25em) {
  .footer::after {
    font-size: 23rem;
  }
}

@media (max-width: 37.5em) {
  .footer::after {
    font-size: 15rem;
    -webkit-transform: translateX(-10rem) rotate(90deg);
            transform: translateX(-10rem) rotate(90deg);
    left: -40%;
    top: 0;
  }
}

.logo-text__footer {
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  color: #fbfbfb;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.logo-text__footer::after {
  content: "";
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #ff5850;
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
}

.logo-text__footer::after {
  bottom: 0.5rem;
}

.header {
  height: 9rem;
  position: relative;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.header__logo-img {
  height: 7rem;
  width: 7rem;
  margin-right: 0.5rem;
}

.header__logo-text {
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__logo-text::after {
  content: "";
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #ff5850;
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
}

.header__logo-text::after {
  bottom: 2rem;
}

@media (max-width: 56.25em) {
  .header__logo-text {
    font-size: 3.5rem;
  }
}

@media (max-width: 56.25em) {
  .header__main-nav {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .header__side-nav {
    display: none;
  }
}

.header__humbergar {
  display: none;
}

@media (max-width: 37.5em) {
  .header__humbergar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-mini-nav {
  position: absolute;
  background-color: #dadada;
  height: 0;
  width: 100%;
}

.header-mini-nav li {
  display: block !important;
  margin-left: 2.5rem;
}

.header-mini-nav.active {
  z-index: 1;
  height: 100%;
}

.section-merch img {
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.music-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem;
}

.music {
  position: relative;
  overflow: hidden;
  background-color: #000;
}

.music img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.music img:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.music__cart:link, .music__cart:visited {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #1a1a1a;
  text-align: center;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  position: absolute;
  left: 0;
  bottom: -100%;
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
}

.music:hover .music__cart {
  bottom: 0;
}

.music__name {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  position: absolute;
  left: 0;
  bottom: -100%;
  opacity: 0;
  -webkit-transition: bottom 0.3s, opacity 0.4s;
  transition: bottom 0.3s, opacity 0.4s;
}

.music:hover .music__name {
  bottom: 0;
  opacity: 1;
}

@media (max-width: 350px) {
  .music:not(:first-child) {
    display: none;
  }
  .music:nth-child(2) {
    display: block;
  }
}

.tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .tour {
    display: block;
  }
}

.tour:not(:last-child) {
  margin-bottom: 1rem;
}

.tour--faded {
  color: #8a8a8a;
}

.tour__ticket-sold {
  color: #ff5850;
}

.tour__time, .tour__sell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tour__sell {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tour__date {
  font-size: 4.8rem;
  font-weight: 400;
  margin-right: 4rem;
}

@media (max-width: 56.25em) {
  .tour__date {
    margin-right: 3rem;
  }
}

@media (max-width: 71.25em) {
  .tour-container {
    padding: 0 2rem;
  }
}

.tour__day {
  margin-right: 9rem;
}

@media (max-width: 56.25em) {
  .tour__day {
    margin-right: 5rem;
  }
}

.tour__name {
  font-weight: 600;
  font-size: 2.4rem;
  margin-right: auto;
  cursor: pointer;
}

@media (max-width: 37.5em) {
  .tour__name {
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tour__action {
  text-decoration: none;
  color: #1a1a1a;
}

.tour__action i {
  margin-left: 2rem;
  color: #ff5850;
}

.video {
  position: relative;
  cursor: pointer;
  height: 40vw;
}

.video__img-1 {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.video__img-2 {
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.video:hover .video__img-2 {
  height: 7rem;
  width: 7rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10rem 0;
}

.about__img {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-right: 5%;
}

@media (max-width: 56.25em) {
  .about__img {
    margin-right: 0;
    margin-bottom: 8rem;
  }
}

.about__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__content {
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
}

.about__content-main p:not(:last-child) {
  margin-bottom: 3rem;
}

@media (max-width: 56.25em) {
  .about {
    display: block;
    width: 80vw;
    margin: auto;
    margin-bottom: 10rem;
  }
}

.section-about-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10rem 0;
}

@media (max-width: 56.25em) {
  .section-about-testimonial {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}

.about__for-you {
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  margin-right: 10%;
}

@media (max-width: 56.25em) {
  .about__for-you {
    margin-bottom: 8rem;
  }
}

.about__testimonial {
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
}

.about__testimonial blockquote:not(:last-of-type) {
  margin-bottom: 4rem;
}

.about__testimonial blockquote cite {
  padding-left: 8.5rem;
  margin-top: 1rem;
  display: block;
  position: relative;
}

.about__testimonial blockquote cite::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 8rem;
  background-color: #1a1a1a;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.contact-parallex {
  background-image: url(../../img/Extra/hero-slide-2-concert.png);
}

.contact-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding: 10rem 0;
  grid-gap: 4rem;
}

@media (max-width: 37.5em) {
  .contact-info {
    width: 50%;
  }
}

@media (max-width: 56.25em) {
  .contact-info {
    width: 70%;
    margin: 0 auto;
  }
}

.contact-info__content p {
  color: #8a8a8a;
}

.section-contact-form {
  padding: 10rem 0;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 56.25em) {
  .contact-form {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

.contact-form__desc {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  margin-right: 10%;
}

.contact-form__main {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

@media (max-width: 56.25em) {
  .contact-form__main {
    margin-top: 10rem;
  }
}

.contact-form__main input,
.contact-form__main textarea {
  width: 90%;
  margin: 0 auto;
  display: block;
  font-size: 1.8rem;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 56.25em) {
  .contact-form__main input,
  .contact-form__main textarea {
    width: 100%;
  }
}

.contact-form__main button {
  margin-left: auto;
  margin-right: 5%;
  font-size: 1.8rem;
  background-color: #1a1a1a;
  color: #fbfbfb;
  padding: 1rem 2rem;
  display: block;
}

.contact-form__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form__more p {
  font-size: 1.5rem;
  color: #8a8a8a;
}

.section-slider {
  overflow: hidden;
  background-color: #dadada;
  height: calc(100vh - 9rem);
  position: relative;
  margin-bottom: 10rem;
}

.section-album,
.section-music,
.section-tours,
.section-video,
.section-merch {
  padding: 10rem 0;
}

@media (max-width: 56.25em) {
  .section-album,
  .section-music,
  .section-tours,
  .section-video,
  .section-merch {
    padding: 8rem 0;
  }
}

.tour-parallex {
  background-image: url(../../img/hero/selena-gomez-concert-sleep-train-arena.jpg);
}

.tour-main {
  padding: 10rem 0;
}

.tour-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 56.25em) {
  .tour-content {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 37.5em) {
  .tour-content {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}

.tour-content__desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-right: 5%;
}

@media (max-width: 56.25em) {
  .tour-content__desc {
    margin-bottom: 8rem;
  }
}

.tour-content__address > div {
  color: #8a8a8a;
  font-size: 1.6rem;
}

.tour-content__address > div span {
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */