@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "poppins";
  src: url(../../fonts/Poppins-ExtraBold.ttf);
  font-style: normal;
  font-weight: 900;
}

.header__main-nav ul, .header__side-nav ul {
  list-style: none;
}

.header__main-nav ul li, .header__side-nav ul li {
  display: inline-block;
}

.header__main-nav ul li:not(:first-child), .header__side-nav ul li:not(:first-child) {
  margin-left: 2.5rem;
}

.header__main-nav ul li a:link, .header__side-nav ul li a:link, .header__main-nav ul li a:visited, .header__side-nav ul li a:visited {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
}

.header__main-nav ul li a:hover, .header__side-nav ul li a:hover {
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__main-nav ul li a:hover::after, .header__side-nav ul li a:hover::after {
  content: "";
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #ff5850;
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
}

.header__main-nav ul li a.active, .header__side-nav ul li a.active {
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__main-nav ul li a.active::after, .header__side-nav ul li a.active::after {
  content: "";
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #ff5850;
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
}

/*Media query manager*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "poppins";
  font-size: 1.8rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #000;
  line-height: 1.6;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 6rem;
  line-height: 1.125;
  font-weight: 600;
  color: #1a1a1a;
}

.heading-secondary {
  font-size: 4.8rem;
  line-height: 1.15;
  color: #1a1a1a;
}

.heading-tertiary {
  font-size: 3.2rem;
  line-height: 1.35;
  font-weight: 300;
  color: #8a8a8a;
}

.heading-tertiary--indicator {
  position: relative;
}

.heading-tetra {
  font-size: 2.4rem;
  line-height: 1.375;
  font-weight: 300;
  color: #8a8a8a;
}

.u-mb-sm {
  margin-bottom: 2rem;
}

.u-mb-md {
  margin-bottom: 3rem;
}

.u-mb-lg {
  margin-bottom: 8rem;
}

.u-mb-xl {
  margin-bottom: 10rem;
}

.app-button > *:first-child {
  margin-right: 2rem;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.app-button__ios, .app-button__android {
  height: 5rem;
  display: inline-block;
}

.app-button__ios img, .app-button__android img {
  height: 100%;
  display: inline-block;
}

.slider__img {
  height: 100%;
  text-align: center;
}

.slider__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header {
  height: 9rem;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.header__logo-img {
  height: 7rem;
  width: 7rem;
  margin-right: 0.5rem;
}

.header__logo-text {
  font-size: 4.7rem;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__logo-text::after {
  content: "";
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  background-color: #ff5850;
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
}

.header__logo-text::after {
  bottom: 2rem;
}

@media (max-width: 900px) {
  .header__logo-text {
    font-size: 3.5rem;
  }
}

.section-slider {
  overflow: hidden;
  background-color: #dadada;
  height: calc(100vh - 9rem);
  position: relative;
}
/*# sourceMappingURL=main.css.map */