@mixin red-indicator {
  position: relative;
  transition: all 0.4s;
  &::after {
    content: "";
    display: inline-block;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: $color-primary;
    position: absolute;
    right: -1rem;
    bottom: 0.5rem;
  }
}
@mixin underscore {
  position: relative;
  &::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 8rem;
    background-color: $gray-5;
    position: absolute;
    bottom: 0.8rem;
    right: -9.5rem;
  }
}
%nav-style {
  ul {
    list-style: none;
    li {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 2.5rem;
      }
      a {
        &:link,
        &:visited {
          text-decoration: none;
          color: $gray-5;
          font-weight: 500;
        }
        &:hover {
          @include red-indicator();
        }
        &.active {
          @include red-indicator();
        }
      }
    }
  }
}

@mixin truncate-text($length) {
  width: $length;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Media query manager*/
// 0 - 600px       phone
// 600 - 900       Table portrate
// 900 - 1200      Table Landscape
// 1200 - 1800     normal style

// Breakpoint argument
// phone
// tab-port
// tab-land

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 71.25em) {
      @content;
    }
  }
}
