$color-primary: #ff5850;
$color-secondary: #0027ee;

$gray-1: #fbfbfb;
$gray-2: #dadada;
$gray-3: #8a8a8a;
$gray-4: #323232;
$gray-5: #1a1a1a;

$color-white: #fff;
$color-dark: #000;

$grid-width: 114rem;
$header-height: 9rem;
