.header {
  height: $header-height;
  position: relative;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    &-img {
      height: 7rem;
      width: 7rem;
      margin-right: 0.5rem;
    }
    &-text {
      font-size: 4rem;
      font-weight: 700;
      @include red-indicator;
      &::after {
        bottom: 2rem;
      }
      @include respond(tab-port) {
        font-size: 3.5rem;
      }
    }
  }
  &__main-nav {
    @extend %nav-style;
    @include respond(tab-port) {
      display: none;
    }
  }
  &__side-nav {
    @extend %nav-style;
    @include respond(phone) {
      display: none;
    }
  }
  &__humbergar {
    display: none;
    @include respond(phone) {
      display: flex;
    }
  }
  &-mini-nav {
    position: absolute;
    background-color: $gray-2;
    height: 0;
    width: 100%;
    // z-index: -11;
    // transition: all 0.5s;
    @extend %nav-style;
    li {
      display: block !important;
      margin-left: 2.5rem;
    }
    &.active {
      z-index: 1;
      height: 100%;
    }
  }
}
