*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  // @include respond(phone) {
  //   font-size: 30%;
  // }
}
body {
  font-family: "poppins";
  font-size: 1.8rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: $color-dark;
  line-height: 1.6;
}
.row {
  max-width: $grid-width;
  margin: 0 auto;
  @media (max-width: 1023px) {
    padding: 0 2%;
  }
}

// ======================================
// Animations
// =====================================
.section-album .title .heading-secondary,
.section-album .title p,
.section-music .title .heading-secondary,
.section-music .title p,
.section-video .title .heading-secondary,
.section-video .title p,
.section-merch .title .heading-secondary,
.section-merch .title p {
  opacity: 0;
}
.section-album .title .heading-secondary.animate__animated,
.section-album .title p.animate__animated,
.section-music .title .heading-secondary.animate__animated,
.section-music .title p.animate__animated,
.section-video .title .heading-secondary.animate__animated,
.section-video .title p.animate__animated,
.section-merch .title .heading-secondary.animate__animated,
.section-merch .title p.animate__animated {
  opacity: 1;
}
