.album {
  display: flex;
  align-items: center;
  &__img {
    height: 65vh;
    width: 30vw;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__contents {
    margin-left: 5vw;
    flex: 1;
  }
  &__content {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 1.7rem;
    }
  }
  &__name {
    margin-right: auto;
    text-decoration: none;
    color: $gray-5;
    font-weight: 600;
    span {
      color: $gray-3;
      margin-right: 2rem;
    }
  }
  &__duration {
    color: $gray-3;
  }
  &__play {
    margin-left: 3rem;
    color: $gray-5;
    border: 1px solid $gray-5;
    border-radius: 50%;
    padding-left: 2px;
    padding-right: 3px;
    font-size: 1.4rem;
    i {
      margin-left: 3px;
    }
    &-pause {
      i {
        margin-left: 0 !important;
        padding: 0;
        padding: 0 2px;
      }
    }
  }
}
