.section-slider {
  overflow: hidden;
  background-color: $gray-2;
  height: calc(100vh - 9rem);
  position: relative;
  margin-bottom: 10rem;
}
.section-album,
.section-music,
.section-tours,
.section-video,
.section-merch {
  padding: 10rem 0;
  @include respond(tab-port) {
    padding: 8rem 0;
  }
}
