.tour-parallex {
  background-image: url(../../img/hero/selena-gomez-concert-sleep-train-arena.jpg);
}
.tour-main {
  padding: 10rem 0;
}
.tour-content {
  display: flex;
  justify-content: space-around;

  @include respond(tab-port) {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  @include respond(phone) {
    display: block;
    width: 95%;
    margin: 0 auto;
  }

  &__desc {
    flex: 0 0 50%;
    margin-right: 5%;
    @include respond(tab-port) {
      margin-bottom: 8rem;
    }
  }
  &__address {
    & > div {
      // margin-bottom: 0.7rem;
      color: $gray-3;
      font-size: 1.6rem;
      span {
        font-weight: 600;
      }
    }
  }
}
